@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("https://images.unsplash.com/photo-1542051841857-5f90071e7989?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
}

.slider {
    z-index: -1;
}

/* custom css for select  */

.goog-te-combo {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 4px 8px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

#google_translate_element {
    position: absolute;
    bottom: 0px;
    right: 8px;
    margin-bottom: 35px;
}